
body {
            font-size: 13px;
            font-family: 'Nunito', sans-serif;
        } 
navbar a {
    color: #ff8400;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    
}        
.footer {
    background-color: #0B610B;
    color: #fff;
    margin-top: 20px;
}
.footer-item h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.footer-item p {
    font-size: 15px;
}

.arrows { 
    white-space: nowrap; 
}
.arrows li {
    display: inline-block;
    line-height: 40px;
    margin: 10px 9px 10px -10px;
    padding: 0 20px;
    position: relative;
}
.arrows li::before,
.arrows li::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);   
}
.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before, 
.arrows li:last-of-type::after { 
    display: none; 
}

.arrows li a { 
   font: 17px Sans-Serif;  
   letter-spacing: -1px; 
   text-decoration: none;
}

.arrows li:nth-of-type(1) a { color: hsl(0, 0%, 70%); } 
.arrows li:nth-of-type(2) a { color: hsl(0, 0%, 65%); } 
.arrows li:nth-of-type(3) a { color: hsl(0, 0%, 65%); }
.arrows li:nth-of-type(4) a { color: hsl(134, 68%, 25%); } 

.arrows li:nth-of-type(1) a:hover { color: hsl(134, 68%, 25%); } 
.arrows li:nth-of-type(2) a:hover { color: hsl(134, 68%, 25%); } 
.arrows li:nth-of-type(3) a:hover { color: hsl(134, 68%, 25%); } 
.wrapper {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;   
}
.item_img {
  float: left;
  max-width: 20%;
  display: block;
  padding: 24px 16px;
  padding-bottom: 8px;
} 
.item_img img {
  width: 100%;
}
.btn-top {
    background-image: url(http://laptrinhphp.info/templates/images/btn_top.png);
    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}
.cart-icon {
    position: absolute;
    z-index: 1;
    border: 1px solid #ddd;
    width: 38px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: -62px;
    margin-left: 155px;
    display: none;
}
.item-slider:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -98px;
    margin-left: 151px;
    display: block;
}
figure{
width: 200px!important;
padding: 0;
margin: 0;
/*position: relative;*/
float: left;
margin-top: 20px;
border: 10px solid #fff;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
line-height: 30px;
}
figure a{
display: block;
width: 100%;
max-width: 100%;
height: 100%;
position: relative;
padding-top: 10%;
}
figure img{
width: 200px;
height: 200px;
max-width: 100%;
max-height: 100%;
position: relative;
border-radius: 20px;
border:none;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
}
figure img:hover {
    border-radius: 20px;
    border:1px solid #0B610B;   
}
.cart-icon {
    position: absolute;
    z-index: 1;
    border: 1px solid #ddd;
    color: #fff;
    width: 38px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: -62px;
    margin-left: 155px;
    display: none;
}
figure:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -125px;
    margin-left: 140px;
    display: block;
}
figure .fig_cl {
    color: #0B610B;
    font-weight: bold;
}
figure .price {
    color: orangered;
}
@media screen and (max-width: 1024px) {
  .navbar-nav .nav-item a {
    padding: 0 25px!important;
  } 
  navbar a {
    color: #ff8400;
    display: inline-block;
    width: 100%;
    font-size: 14px!important;
    margin-left: 30px!important;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
}
  .btn_radious {
    border-radius: 20px;
    border: 2px solid orangered;
    padding: 5px 7px!important;
    margin: -15px!important;
    background-color: #fff;
    font-weight: bold;
}  
.item figure:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -125px!important;
    margin-left: 120px!important;
    display: block;
}   
.content_left .item_content .item_btn {
    position: absolute;
    border: 1px solid orangered;
    font-size: 7px!important;
    border-radius: 20px;
     margin-top: 200px;
     margin-left: 4px!important;
     background-color: #fff;
     font-weight: bold;
     color: #000;
}
.produrt_electronic .item_content .item_btn_sound {
   margin-left: 70px!important;
}
.produrt_electronic .item_content .item_btn_great {
   margin-left: 52px!important;
}
.produrt_electronic .item_content .item_btn_sound_1 {
   margin-left: 120px!important;
}
}

@media screen and (max-width: 980px){  
  figure {
    width: 50%!important;
    height: 220px;
    padding: 0;
    margin: 0;
    /* background-color: #E4E4E4; */
    float: left;
    margin-top: 35px!important;
    margin-bottom: 35px!important;
    border: 10px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height:25px;
  }
  figure:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -85px!important;
    margin-left: 215px!important;
    display: block;
}
.logo {
    width: 232px;
    height: 80px;
    margin: 10px -32px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px!important;
    font-weight: bold;
    margin-left: 0px!important;
    line-height: 30px!important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 25px!important;
    color: #000!important;
    white-space: nowrap;
    font-size: 13px!important;
}
.dropdown-menu>li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
} 
.search_box form input[type="text"] {
    position: absolute;
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 80%;
    padding-right: 36px;
    height: 32px;
    /* background: transparent; */
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    z-index: 10;
    border-radius: 20px;
    border: 1px solid #048004;
}
#linkshoppingcart {
    border: 1px solid #888;
    border-radius: 20px;
    background: #ff8400;
    border: 1px solid #888;
    border-radius: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    color: #fff;
    padding: 2px 20px;
    font-size: 24px;
    margin-left: -20px;
    margin-top: 30px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 4.5rem 1rem;
    font-size: 12px;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn_price {
    max-width: 100%!important;
}
.btn_radious {
  width: 50%!important;
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 5px 14px;
  margin: 0px!important;
  background-color: #fff;
  font-weight: bold;
}
}
@media screen and (max-width: 768px){  
    .logo img {
    margin: -2px!important;
    padding: 8px!important;
    padding-right: 65px!important;
    }
.thumbnail_info {
    width: 100%;
    margin-left: 80px;
}
.thumbnail_info h3 {
    font-size: 16px!important;
    font-weight: bold;
    color: #0B610B;
}
.thumbnail_info .item-info {
    color: #000;
    font-size: 11px!important;
    font-weight: bold;
}
.search_box form {
    display: inline-block;
    background: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #048004;
    width: 250px!important;
    height: 36px;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: -55px;
}
.search_box form input[type="text"] {
    position: absolute;
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 210px!important;
    padding-right: 36px;
    height: 32px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 20px;
    border: 1px solid #048004;
    z-index: 0;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 0!important;
    padding: 0px!important;
    font-size: 12px;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 50px!important;
    margin-left: -6px!important;
}
.shopping-item {
    float: right;
    font-size: 18px;
    margin-top: -8px;
    padding: 10px;
    position: relative;
}
.product-count {
    background-color: #ff8400;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    height: 20px;
    padding-top: 10px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 35px;
    width: 20px;
}
#linkshoppingcart {
    border: 1px solid #888;
    border-radius: 20px;
    background: #ff8400;
    color: #fff;
     /*padding: 0 26px; */
    font-size: 24px;
     margin-top: 30px!important; 
    margin-left: -10px!important;
}
#linkshoppingcart .fa {
    padding: 5px 20px!important;
}
.btn_price {
    max-width: 100%!important;
}
.btn .btn_cl {
  margin-left: 65px!important;
  margin-top: -30px;
}
.btn_radious {
  width: 100%!important;
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 5px 14px;
  margin: 0px!important;
  background-color: #fff;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px!important;
    font-weight: bold;
    margin-left: 0px!important;
    line-height: 25px!important;
}
navbar a {
    display: none;
}
}
@media screen and (max-width: 650px){  
  figure {
    width: 50%!important;
    height: 220px;
    padding: 0;
    margin: 0;
    /* background-color: #E4E4E4; */
    float: left;
    margin-top: 35px!important;
    margin-bottom: 35px!important;
    border: 10px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height:25px;
  }
  figure:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -95px!important;
    margin-left: 170px!important;
    display: block;
}
.w3-bar {
    margin-top: 20px;
}
}
.clear {
    clear: both;
}
@media screen and (max-width: 425px) {
    .logo {
    margin: 10px 24px!important;
}
.logo img {
    margin: 0px!important;
    padding: 8px!important;
    padding-right: 0px!important;
}
.shop_cart {
    margin-left: 60px!important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    font-size: 13px!important;
    line-height: 1.42857143;
    /*margin-top: 30px; */
    padding: 0 25px; 
    margin-top: -90px!important;
    margin-left: 100px!important;
}
.shopping-item {
    float: right;
    font-size: 18px;
    margin-top: -8px;
    padding: 10px;
    position: relative;
}
.product-count {
    background-color: #ff8400;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    height: 20px;
    padding-top: 10px;
    position: absolute;
    right: 215px;
    text-align: center;
    top: 100px;
    width: 20px;
}
#linkshoppingcart {
    border: 1px solid #888;
    border-radius: 20px;
    background: orangered;
    color: #fff;
    padding: 0 25px;
    font-size: 24px!important;
    margin-top: 100px!important;
    margin-right: 210px!important;
}
.search_box form input[type="button"] {
    width: 60px!important;
}
.search_box form {
    display: inline-block;
    background: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #048004;
    width: 100%!important;
    height: 36px;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: 0px!important;
}
.search_box form input[type="text"] {
    position: absolute;
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 87%!important;
    padding-right: 36px;
    height: 32px;
    padding-left: 10px; 
    padding-top: 5px;
    padding-right: 5px;
    z-index: 10;
    border-radius: 20px;
    border: 1px solid #048004;
}
.info .btn {
    padding: 5px 20px;
    background-color: orangered;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 1
    0px;
}
.crumb .item-arrows {
  margin-top: 0px;
  
}
.arrows .item-crumb a {
    font-size: 12px!important;
}
.arrows .item-crumb {
        margin: 0 9px 10px -15px!important;
}
.crumb ol {
    margin: 0;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px!important;
    font-weight: bold;
     margin-left: 0px!important; 
    line-height: 30px!important;
}
.nav_menu .nav_item {
  padding-left: 5px;
  font-size: 14px;
  padding-top: 5px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff!important;
    white-space: nowrap;
    font-size: 13px!important;
}
.btn_radious {
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 5px 14px;
  margin: 0px!important;
  background-color: #fff;
  font-weight: bold;
  line-height: 10px;
}
figure {
    width: 50%!important;
    height: 150px;
    padding: 0;
    margin: 0;
    margin-top: 40px!important;
    text-align: center;
    /* background-color: #E4E4E4; */
    float: left;
    border: 10px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 18px!important;
}
.item-slider:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -90px!important;
    margin-left: 117px!important;
    display: block;
}
.glyphicon-shopping-cart {
    top: 5px!important;
    left: 2px;
}
.w3-bar {
    
    margin-top: 20px;
}
#linklikeproduct span.item-btn{
    display: none!important;
}
navbar a {
    display: none;
}
.carousel {
    display: none;
}
.thumbnail_left, .item_form_right {
    margin-bottom: 20px;
    padding: 0!important;
    border:none!important;
}
.thumbnail_right {
    line-height: 35px;
    padding: 0!important;
}
.thumbnail_info {
    width: 100%;
     margin-left: 0px!important; 
}
.item-btn {
    display: none!important;
}
}
@media screen and (max-width: 375px){ 
    figure:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -89px!important;
    margin-left: 98px!important;
    display: block;
}   
navbar a {
    display: none;
}
}
@media screen and (max-width: 320px){  
    .logo img {
    margin: -2px!important;
    padding: 8px!important;
    padding-right: 65px!important;
    }
  figure {
    width: 50%!important;
    height: 220px;
    padding: 0;
    margin: 0;
    /* background-color: #E4E4E4; */
    float: left;
    margin-top: 40px!important;
    margin-bottom: 40px!important;
    border: 10px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height:25px;
}
figure:hover .cart-icon {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 1px solid #ddd;
    width: 40px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 35px;
    border: 1px solid #0B610B;
    font-size: 14px;
    margin-top: -89px!important;
    margin-left: 70px!important;
    display: block;
}
.search_box form {
    display: inline-block;
    background: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #048004;
    width: 250px!important;
    height: 36px;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: -10px!important;
}
.search_box form input[type="text"] {
    position: absolute;
    float: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 210px!important;
    padding-right: 36px;
    height: 32px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 20px;
    border: 1px solid #048004;
    z-index: 0;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 0!important;
    padding: 0px!important;
    font-size: 12px;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: -90px!important;
    margin-left: 80px!important;
}
#linkshoppingcart {
    border: 1px solid #888;
    border-radius: 20px;
    background: #ff8400;
    color: #fff;
     /*padding: 0 26px; */
    font-size: 24px;
     margin-top: 100px!important; 
    margin-left: -30px!important;
}
#linkshoppingcart .fa {
    padding: 5px 20px!important;
}
.btn_price {
    max-width: 100%!important;
}
.btn .btn_cl {
  margin-left: 65px!important;
  margin-top: -30px;
}
.btn_radious {
  width: 100%!important;
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 5px 14px;
  margin: 0px!important;
  background-color: #fff;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px!important;
    font-weight: bold;
    margin-left: 0px!important;
    line-height: 25px!important;
}
.w3-bar {
    margin-top: 20px;
    font-size: 12px!important;
} 
navbar a {
    display: none;
}
}
.thumbnail_left {
    margin-bottom: 20px;
    padding: 0 65px;
    border: 1px solid #ddd;
}
.thumbnail_left img {
    width: 300px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 0 10px
}
.thumbnail_right {
    line-height: 35px;  
    padding: 0 65px;
}
.thumbnail_right .right{
    margin: 55px;
}
.item_form_right {
    padding-left: 70px;
}
.thumbnail_info {
    list-style: none;
}
.thumbnail_info h3 {
    font-size: 17px;
    font-weight: bold;
    color: #0B610B;
}
.thumbnail_info .item-info {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.thumbnail_info .info-price {
    color: orangered;
    font-size: 30px;
    margin: 15px 0;
    font-weight: bold;
}
.thumbnail_info .item-info-detail {
    color: #000;
    font-weight: bold;
}
.thumbnail_right .table-right th, td {
    padding-left: 20px;
    font-size: 13px;
    padding-top: 10px;
}
.input-quantity {
    display: flex;
    align-items: center;
}
#Up
{
  font-size:7px;
  width:30px;
  height:25px;
  font-size: 15px;
  font-weight: bold;
  margin-left:-20px; 
  background-color:#fff; 
  border: 1px solid orangered;
}

#Up:hover
{
  background-color: #bababa;
  
}

#Up:active {
outline: none;
border: none;
}

#Up:focus {outline:0;}

#Down
{
  font-size:7px;
  width:30px;
  height:25px;
  font-size: 15px;
  font-weight: bold;
  margin-right:-20px; 
  background-color:#fff;
  border: 1px solid orangered;
}

#Down:hover
{
  background-color: #bababa;
  
}

#Down:active {
outline: none;
border: none;
}

#Down:focus {outline:0;}

#Up:hover
{
  background-color: #bababa;
  
}
 #btn {
    padding: 3px 17px;
    background-color: orangered;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 20px;
}
#btn a {
    color: #fff;
    text-decoration:none; 
}
.thumbnail {
    display: block;
    padding: 15px;
    margin-bottom: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border:none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
h2 {
    color: #0B610B;
    font-weight: bold;
}
.carousel-indicators {
    display: none!important;
}
@font-face {
            font-family: mainFont;
            src: url(./assets/font/UVNVan_R.TTF);
        }

#Carousel .carousel {
    margin-bottom: 0;
    padding: 0 0 30px 40px;
    width: 1140px!important;
    max-width: 100%;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 130px;
}
.carousel-control.right {
	right: -12px;
    margin-top: 130px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 1px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #0088cc; }
    .cart-icon a {
        color: #fff!important;
    }  
      
      
      
      

